#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

PS1='[\u@\h \W]\$ '

# set rust replacements for common shell stuff
alias ls=eza

set -o vi
eval "$(starship init bash)"

# mcfly settings
eval "$(mcfly init bash)"
export MCFLY_KEY_SCHEME=vim
export MCFLY_FUZZY=2
{{- if eq .chezmoi.os "linux" }}
source /usr/share/doc/mcfly/mcfly.bash
{{ end }}
