/* Benjamin S. Osenbach
   waybar config
   Copyright (c) 2022-2024
*/

@define-color bar-color #323232;
@define-color bg-color #26A65B;
@define-color fg-color #cccccc;

@define-color hl-color #fffdd0;
@define-color hov-color #26a65b;
@define-color alert-color #ff0000;

* {
    border: none;
    font-family: Monospace;
    font-size: 15px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    color: @fg-color;
    border-radius: 5px;
    background-color: alpha(@bar-color, 0.75); 
}

/* Sway workspaces */
#workspaces button, #tags button {
    background-color: transparent;
    color: @fg-color;
    border-radius: 0px;
    padding: 0 10px;
    margin: 0 4px;
}

#workspaces button:hover, #tags button:hover {
    background: alpha(@hov-color, 0.5);
}

#workspaces button.focused, #tags button.focused {
    border-bottom: 3px solid @hl-color;
}

#workspaces button.urgent, #tags button.urgent {
    background-color: alpha(@alert-color, 0.5);
}

#battery, #bluetooth, #clock, #language, #network, #tray {
    margin: 0 4px;
    border-bottom: 3px solid @hl-color;
}

battery.charging {
    color: yellow;
    background-color: #26A65B; /* dark green */
}

#battery.warning:not(.charging) {
    background-color: #ff5f1f; /* neon orange */
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
	color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: alpha(@alert-color, 0.5);
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.off, #bluetooth.disabled, #bluetooth.discoverable {
    background-color: transparent;
}

#bluetooth.discovering, #bluetooth.pairable {
    background-color: alpha(#004CFD, 0.5);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth.connected {
    background-color: alpha(#0011FF, 0.5);
}
